body {
  font: 16px Arial;
}

.site-background{
	background-color: #00475E;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

h2{
	text-align: left;
	height: 50px
}

.navbar img {
	align: left;
}
.navbar {
  background-color: #8CC33E;
  overflow: hidden;
}

.navbar a {
  float: right;
  color: black;
  font-family: lato regular 400;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #35A747;
  color: white;
  text-decoration: underline;
}

.navbar-header a {
	font-size: 27px;
	text-transform: uppercase;
	font-family: lato regular 400;
	color: black;
}

.pokemon-image{
	display: inline-block;
	margin-right: 520px;
	width: 90px;
	padding: 220px 520px;
	position: absolute;
	}
	
.poke-holder{
	border: 4px solid #555;
}

.name{
	width: 350px;
	line-height: 3em;
	position: absolute;
	left: 1050px;
	top: 350px;
	border: 4px solid #555;
}

.level{
	width: 350px;
	line-height: 2em;
	position: absolute;
	left: 1050px;
	top: 450px;
	border: 4px solid #555;
}

.nickname{
	width: 350px;
	line-height: 2em;
	position: absolute;
	left: 1050px;
	top: 525px;
	border: 4px solid #555;
}

.button {
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.button1 {
	border-radius: 50%;
	background-color: #FBE199;
	position: absolute;
	left: 1350px;
	top: 625px;
	border: 4px solid #555;
	color: #757575;
	font-size: 25px;
}

.button2 {
	border-radius: 50%;
	position: absolute;
	color: #757575;
	left: 540px;
	top: 675px;
	width: 120px;
	height: 75px;
	border: 4px solid #555;
	background-color: #FBE199;
	font-size: 20px;
}

.button3 {
	border-radius: 2px;
	position: absolute;
	color: #757575;
	left: 750px;
	top: 625px;
	width: 20px;
	height: 10px;
	border: 4px solid #555;
	background-color: #757575;
	font-size: 20px;
}

.button4 {
	border-radius: 2px;
	position: absolute;
	color: #757575;
	left: 750px;
	top: 725px;
	width: 20px;
	height: 10px;
	border: 4px solid #555;
	background-color: #757575;
	font-size: 20px;
}

.button5 {
	border-radius: 2px;
	position: absolute;
	color: #757575;
	left: 800px;
	top: 675px;
	width: 20px;
	height: 10px;
	border: 4px solid #555;
	background-color: #757575;
	font-size: 20px;
}

.button6 {
	border-radius: 2px;
	position: absolute;
	color: #757575;
	left: 700px;
	top: 675px;
	width: 20px;
	height: 10px;
	border: 4px solid #555;
	background-color: #757575;
	font-size: 20px;
}


.fast-move{
	width: 75px;
	line-height: 1em;
	position: absolute;
	left: 1050px;
	top: 610px;
	border: 4px solid #555;
}

.charged-move{
	width: 75px;
	line-height: 1em;
	position: absolute;
	left: 1150px;
	top: 610px;
	border: 4px solid #555;
}

.charged-move2{
	width: 75px;
	line-height: 1em;
	position: absolute;
	left: 1250px;
	top: 610px;
	border: 4px solid #555;
}

.ATK{
	width: 75px;
	line-height: 1em;
	position: absolute;
	left: 1250px;
	top: 675px;
	border: 4px solid #555;
}

.DEF{
	width: 75px;
	line-height: 1em;
	position: absolute;
	left: 1150px;
	top: 675px;
	border: 4px solid #555;
}

.stamina{
	width: 75px;
	line-height: 1em;
	position: absolute;
	left: 1050px;
	top: 675px;
	border: 4px solid #555;
}

.calculate{
	width: 100px;
	height: 75px;
	position: absolute;
	left: 585px;
	top: 790px;
	border: 4px solid #555;
	color: #757575;
	text-align: center;
	background-color: white;
}

.background{
	
	position: absolute;
	left: -100px;
	top: -365px;
	width: 1100px;
	height: 900px;
	z-index: -5;
}